
<div class="example-config">
  <p class="k-form-hint">
    Click the button below to filter the Grid from an external Filter
    component
  </p>
  <button kendoButton (click)="open()" icon="filter">
    Filter the Grid
  </button>
</div>

<kendo-window *ngIf="opened" (close)="close()" [width]="620" [top]="300">
  <div class="window-content">
    <kendo-filter #filter [filters]="filters" [value]="filterValue">
    </kendo-filter>

    <button kendoButton (click)="applyFilter(filter.value)">
      Apply filter
    </button>
  </div>
</kendo-window>

<kendo-grid
  [data]="gridView"
  kendoGridSelectBy="id"
  [(selectedKeys)]="mySelection"
  [kendoGridInCellEditing]="createFormGroup"
  [skip]="state.skip"
  [pageSize]="20"
  [pageable]="true"
  [sortable]="sortSettings"
  [reorderable]="true"
  [resizable]="true"
  [height]="500"
  [columnMenu]="{ filter: true }"
  [filterable]="true"
  (dataStateChange)="dataStateChange($event)"
>

  <ng-template kendoGridToolbarTemplate>
    <input [style.width.px]="165" placeholder="Search in all columns..." kendoTextBox (input)="onFilter($event)"/>
    <kendo-grid-spacer></kendo-grid-spacer>
    <button class="k-button" (click)="clearFilters()">Clear Filters</button>
    <button kendoGridExcelCommand type="button" icon="file-excel">Export to Excel</button>
    <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
  </ng-template>

  <kendo-grid-checkbox-column
    [width]="45"
    [headerClass]="{'text-center': true}"
    [class]="{'text-center': true}"
    [resizable]="false"
    [columnMenu]="false"
    [showSelectAll]="true"
    [locked]="true"
  ></kendo-grid-checkbox-column>

  <kendo-grid-column-group title="Group 1" [columnMenu]="false">
    <kendo-grid-column field="status.name" title="Trip Status" [width]="220">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="customer-name">{{ dataItem.status.name }}</div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="trip_id" title="Trip Number" [width]="220">
    </kendo-grid-column>

    <kendo-grid-column
      field="is_confirmed"
      title="Is Confirmed"
      [width]="200"
      [class]="{'text-center': true}"
      [resizable]="true"
      [columnMenu]="false"
    >
      <ng-template kendoGridFilterCellTemplate let-filter>
        <kendo-switch
          (valueChange)="switchChange($event, 'is_confirmed')"
          offLabel="No"
          [checked]="checked"
          onLabel="Yes">
        </kendo-switch>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>{{ dataItem.is_confirmed ? 'Confirmed' : 'Not Confirmed' }}</span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="is_rescue"
      title="Rescue Trip"
      [width]="100"
      [class]="{'text-center': true}"
      [resizable]="false"
      [columnMenu]="false"
    >
      <ng-template kendoGridFilterCellTemplate let-filter>
        <kendo-switch
          (valueChange)="switchChange($event, 'is_rescue')"
          offLabel="No"
          [checked]="checked"
          onLabel="Yes">
        </kendo-switch>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <span *ngIf="dataItem.is_rescue" class="badge badge-success">Yes</span>
        <span *ngIf="!dataItem.is_rescue" class="badge badge-danger">No</span>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid-column-group>

  <kendo-grid-column-group title="Group 2" [columnMenu]="false">
    <kendo-grid-column
      field="bidding_start_timestamp"
      title="Bidding Started At"
      [width]="210"
      [resizable]="true"
      filter="date"
    >
<!--      <ng-template kendoGridFilterCellTemplate let-filter>-->
<!--        <kendo-datepicker (valueChange)="dateChange($event)"></kendo-datepicker>-->
<!--      </ng-template>-->
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>{{ dataItem.bidding_start_timestamp | date : 'short' }}</span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="acceptance_by_transportation_provider_status"
      title="Acceptance"
      [width]="150"
      [resizable]="true"
      filter="text"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>{{ dataItem.acceptance_by_transportation_provider_status.name }}</span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="bidding_status"
      title="Bidding"
      [width]="100"
      filter="text"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <span *ngIf="dataItem.bidding_status.id === 1"
              [ngClass]="{'green text-bold': dataItem.bidding_status.id === 1}">
          {{ dataItem.bidding_status.name }}
        </span>
        <span *ngIf="dataItem.bidding_status.id === 0"
              [ngClass]="{'red text-bold': dataItem.bidding_status.id === 0}">
          {{ dataItem.bidding_status.name }}
        </span>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid-column-group>

  <kendo-grid-column-group title="Group 3" [columnMenu]="false">
    <kendo-grid-column field="phone" title="Phone" [width]="130">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>{{ dataItem.phone | phone }}</span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [columnMenu]="false" field="is_covid_eligible_transport_required" title="COVID Transport" [width]="220">

      <ng-template kendoGridFilterCellTemplate let-filter>
        <kendo-switch
          (valueChange)="switchChange($event, 'is_covid_eligible_transport_required')"
          offLabel="No"
          [checked]="checked"
          onLabel="Yes">
        </kendo-switch>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>{{ dataItem.is_covid_eligible_transport_required ? 'Yes' : 'No' }}</span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="billing.cost" title="Cost" [width]="200" filter="numeric" format="{0:c}">
      <ng-template kendoGridFooterTemplate>
        Total sum: {{ total['billing.cost'].sum | currency }}
      </ng-template>
    </kendo-grid-column>
  </kendo-grid-column-group>

  <kendo-grid-pdf fileName="Employees.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
  <kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel>
</kendo-grid>
